<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="general">
            <resource>InteractOne_LimitStates::limit</resource>
            <group id="region" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="0" showInStore="0">
                <field id="limit_states" translate="label" type="multiselect" sortOrder="4" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Limit US States</label>
                    <source_model>InteractOne\LimitStates\Model\Config\Source\Region</source_model>
                </field>
            </group>
        </section>
    </system>
</config>